<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main role="main">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49905813-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        var darkMode = localStorage.getItem('darkMode');

        var toggleDark = function() {
          $("#mode-light").addClass("d-none");
          $("#mode-dark").removeClass("d-none");

          $("main .bg-light").addClass("bg-dark text-light").removeClass("bg-light");
          $("main .bg-white").addClass("bg-black text-light").removeClass("bg-white");
        };

        var toggleLight = function() {
          $("#mode-dark").addClass("d-none");
          $("#mode-light").removeClass("d-none");

          $("main .bg-dark").addClass("bg-light").removeClass("bg-dark text-light");
          $("main .bg-black").addClass("bg-white").removeClass("bg-black text-light");
        };

        if (darkMode) {
          toggleDark();
        }

        $(".mode-toggle").click(function() {
          if (localStorage.getItem('darkMode')) {
            toggleLight();

            localStorage.clear();
          } else {
            toggleDark();

            localStorage.setItem('darkMode', true);
          }
        })
      });
    </script>
  </body>
</html>
